@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap');

body {
    font-family: 'Inter', sans-serif;
}

.main-container {
    display: grid;
    grid-template-columns: 6fr 8fr;
}

.yellow-box {
    display: grid;
    background-color: #FFC700;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto;
    justify-content: center;
    align-content: center;
}

.yellow-box > div {
    display: grid;
    grid-template-columns: 1fr 5fr;
    font-size: 48px;
}