@charset "UTF-8";

/* Escreva os seletores de classe abaixo */

h2 {
    text-align: center;
    padding: auto;
    border: 3px solid;
    border-radius: 20px;
}

.solar {
    background-color: yellow;
    border-color: yellowgreen;
}

.wind {
    background-color: gray;
    border-color: black;
}

.hydro {
    background-color: aqua;
    border-color: blue;
}

.bioenergy {
    background-color: burlywood;
    border-color: brown;
}

